<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>YOOOO</h1>
    <p>we are in a1 html file</p>
    {% if number == 10 %}
    <p>{{ message }}</p>
    {% elif number > 10 %}
    wrifd
    {% endif %}
    <ol>
        {% for i in product %}
        <li>
           <a href="/home/{{i.id}}"> Roll no: {{i.id}}----------------- Name: {{i.name}} </a>
        </li>
        {% endfor %}
    </ol>
</body>
</html>